/4th Year/Semester 2/Enterprise App Development/Lab 1/build/
/4th Year/Semester 2/Enterprise App Development/AgentsGUI/target/
/4th Year/Semester 2/Enterprise App Development/SpringMVCExample/target/
/4th Year/Semester 2/Enterprise App Development/SpringMVC/target/
/4th Year/Semester 2/Enterprise App Development/Old Files/DODPopularity/DODPopularity/build/
/4th Year/Semester 2/Enterprise App Development/Old Files/DODPopularity/DODPopularity/dist/
/4th Year/Semester 2/Enterprise App Development/Old Files/DODPopularity/DODPopularity/nbproject/private/
/4th Year/Semester 2/Enterprise App Development/Old Files/HelloSpring/target/
/4th Year/Semester 2/Enterprise App Development/Old Files/Lab 1/build/
/4th Year/Semester 2/Enterprise App Development/Old Files/Lab 1/nbproject/private/
/4th Year/Semester 2/Enterprise App Development/Old Files/SOAPClient/build/
/4th Year/Semester 2/Enterprise App Development/Old Files/SOAPClient/dist/
/4th Year/Semester 2/Enterprise App Development/Old Files/SOAPClient/nbproject/private/
/4th Year/Semester 2/Enterprise App Development/Old Files/SOAPWebApplication/nbproject/private/